wget
appdirs
tempdir
multipledispatch
numpy
tqdm
termcolor
fire
rich
openai
tree_sitter>=0.22.0
tree-sitter-python
datasets
psutil

# vllm
vllm

# anthropic
anthropic

# google
google-generativeai

# transformers
transformers

# bedrock
boto3
