wget
appdirs
tempdir
multipledispatch
numpy
tqdm
termcolor
fire
rich
openai
tree_sitter>=0.22.0
tree-sitter-python

# vllm
vllm

# anthropic
anthropic

# google
google-generativeai

# transformers
transformers
stop-sequencer
